<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&family=Oxygen+Mono&family=Playfair+Display:ital@1&family=Special+Elite&display=swap');
        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        .font-sans{
            font-family: 'Lato', sans-serif;
        }
        .font-serif{
            font-family: 'Playfair Display', serif;
        }
        .font-mono{
            font-family: 'Oxygen Mono', monospace;
        }
        .font-script{
            font-family: 'Special Elite', cursive;
        }
       .hero{
            margin-top: 8rem;
            margin-right: 6rem;
            margin-left: 4rem;
       }
    </style>
</head>
<body>
    <nav class="navbar fixed-top navbar-fixed-top navbar-inverse bg-dark shadow-lg p-3">
        <div class="navbar-brand navbar-brand-center flex">
            <a class="navbar-brand">
                <img src="static/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <span class="text-white font-script">SmartPro</span><span class="text-white font-mono">API</span>
            </a>
         
        </div>   <div class="nav justify-content-lg-start">
            <img src="static/ob.png" width="30" height="30" class="d-inline-block align-top mx-4" alt="oscarbahamonde" class="d-inline-block align-top">
        </div>
    </nav>
    <header class="hero">
    <h1 class="my-4 font-script">Bienvenidos a la <strong>API Rest</strong> de <strong>SmartPro Solutions</strong></h1>
     <p class="my-4 font-serif">Esta API Rest esta diseñada para que puedas realizar tus consultas de manera sencilla y rapida. <br>
        <strong>Para mas informacion de la API Rest, puedes consultar la documentacion en la siguiente direccion:</strong> <br>
        <a href="/docs" class="btn btn-primary">Docs</a>
    </p>
   <div class="container fluid">
    <h1 class="my-4 font-script">Las tecnologias que utilizamos para desarrollar esta API Rest son:</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Python</h5>
                    <p class="card-text">Python es un lenguaje de programación interpretado, dialecto del estándar de bajo nivel denominado "Python 2" y lanzado en febrero de 1991 como parte de la plataforma de software "Python".</p>
                    </div>
                    </div>
                    </div>
                    <div class="col-sm-4">
                    <div class="card shadow-lg">
                    <div class="card-body">
                    <h5 class="card-title">FastAPI</h5>
                    <p class="card-text">FastAPI es un framework de desarrollo de APIs RESTful que se basa en el modelo de desarrollo de microservicios.
                    </p>
                    </div>
                    </div>
                </div>
                    <div class="col-sm-4">
                    <div class="card shadow-lg">
                    <div class="card-body">
                    <h5 class="card-title">NuxtJS</h5>
                    <p class="card-text">Nuxt.js es un framework de desarrollo de aplicaciones web moderno, de código abierto y de código fuente abierto.
                    </p>
                   
               
                    </div>
                    
                   
                        

   </div>
</header>
<blockquote class="blockquote text-center my-4">
    <p class="mb-0 font-sans">"La mejor forma de aprender es enseñar lo que ya sabes."</p>
    <footer class="blockquote-footer">Oscar Bahamonde</footer>
</blockquote>  
<div class="row"><div class="col"><div class="col"></div></div></div>
<div class="row"><div class="col"><div class="col"></div></div></div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script src="./app.js">
</script>
</body>
</html>